<section>
    <div class ="col-md-6">
    <div class ="panel panel-primary">
    <div class ="panel-heading">Charts</div>
    <div class="panel-body"></div>
    </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading"> Alerts</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td><b>Facility</b></td>
                                <td><b>Priority</b></td>
                                <td><b>Date logged</b></td>
                                <td><b>Status</b></td>
                                <td><b>Action</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Adyang Health Facility</td>
                                <td>Very High</td>
                                <td>2/Jan/2017</td>
                                <td>Pending Action</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>Adyang Health Facility</td>
                                <td>Very High</td>
                                <td>2/Jan/2017</td>
                                <td>Pending Action</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>Adyang Health Facility</td>
                                <td>Very High</td>
                                <td>2/Jan/2017</td>
                                <td>Pending Action</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading"> Recent supplies</div>
            <div class="panel-body"><div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td><b>Facility</b></td>
                                <td><b>Batch Number</b></td>
                                <td><b>Dispatch Date</b></td>
                                <td><b>Date Received</b></td>
                                <td><b>Number of boxes</b></td>
                                <td><b>Official </b></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Adyang Health Facility</td>
                                <td>001</td>
                                <td>2/Jan/2017</td>
                                <td>3/jan/2017</td>
                                <td>700</td>
                                <td>Sam kapeyi</td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>Adyang Health Facility</td>
                                <td>002</td>
                                <td>2/Jan/2017</td>
                                <td>3/jan/2017</td>
                                <td>700</td>
                                <td>Sam Kapeyi</td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>Adyang Health Facility</td>
                                <td>003</td>
                                <td>2/Jan/2017</td>
                                <td>3/jan/2017</td>
                                <td>700</td>
                                <td>Sam Kapeyi</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
        </div>
     </div>   
</section>